MISTRAL_API_KEY=your_key_here
GROQ_API_KEY=
FIGMA_API_KEY=
FIGMA_FILE_ID=

GENERATED_PROJECT_PATH=C:/Users/you/Desktop/generated_project
REDIS_URL=redis://localhost:6379/0
INPUT_FILE=inputs/project_input.txt